.contact-page {
  background-color: #f8f9fa;

}

.contact-hero-image {
  background-image: url('/public/images/contact_us_image.jpg'); /* Replace with your actual image */
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;

}

.contact-section {
  background-color: #d5e3f1;
  border-radius: 0.5rem;
  
}

.contact-section .form-control {
  border-radius: 0.4rem;
  background-color: #eaeaea;
  border: 1px solid #ccc;
}

.contact-section .btn-primary {
  background-color: #0d6efd;
  border: none;
  font-weight: 600;
}

.bg-lightblue {
  background-color: #d5e3f1;
}
